body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: url('../img/textures/backgraund.jpg');
  overflow: hidden;
  text-align: center;
}
* {
  transition: all 2s ease;
}

.site-logo {
  position: fixed;
  color: #eee;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Mak';
  font-size: 24px;
  line-height: 70px;
  text-transform: uppercase;
}

#loading {
  position: fixed;
  font-size: 20px;
  z-index: -1;
  left: 40%;
  top: 40%;
  color: #eee;
  text-align: center;
}

.buttons {
  position: fixed;
  top: 15%;
  right: 20px;
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 6px;
  width: 100%;
  height: 25px;
  font-size: 14px;
  outline: none;
  background: #333;
  color: #ddd;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  opacity: .7;

  &:hover {
    background: #fff;
    color: #222;
    opacity: .8;
  }

  &:active {
    background: #111;
    color: #fff;
  }
}

a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: #222;
    opacity: .8;
  }
}

#feria, #autoRotate, #map {
  margin-top: 20px;
}

.drag {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.icon-info-sign {
  color: #222;
}

.extra-info {
  display: none;
  line-height: 45px;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 50px;
}

.info {
  &:hover {
    .extra-info {
      display: block;
    }

    background-color: white;
    padding: 0 0 0 10px;
    width: 415px;
    text-align: left !important;
  }

  font-size: 40px;
  padding-left: 5px;
  width: 40px;
  border-radius: 15px;
}

.close-button {
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  opacity: 0.9;
  position: absolute;
  top: 5px;
  right: 5px;

  a {
    background: transparent;
    border: none;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  animation: modal 1s 1s forwards;
  visibility: hidden;
  opacity: 0;
}

.contenido {
  margin: auto;
  width: 45%;
  height: 60%;
  background: rgb(255, 254, 254);
  border-radius: 5px;
}

#cerrar {
  display: none;

  + label {
    position: fixed;
    color: #fff;
    font-size: 30px;
    z-index: 50;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 27%;
    top: 18%;
    cursor: pointer;
    animation: modal 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
  }

  &:checked {
    + label, ~ .modal {
      display: none;
    }
  }
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@import "../node_modules/bootstrap/scss/bootstrap";